.about {
  .container {
    display: flex;
    gap: 60px;
  }

  &__main-img {
    img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__text {
    p {
      line-height: 24px;
    }
  }
}

.section-title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 17px;

  color: $accent-color;
}

.section-subtitle {
  margin-bottom: 50px;
  font-size: 21px;
}
