.hamburger {
  position: fixed;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.15s linear;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  top: 9px;
  right: 0;
  z-index: 999;

  @media screen and (min-width: 901px) {
    display: none;
  }

  @media screen and (min-width: 501px) {
    top: 15px;
  }
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #000;
  position: absolute;
  transition: transform 0.15s ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}

/*
   * Arrow Right
*/
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
