header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  padding: 15px 40px;

  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 0px 10px 0px;

  @media screen and (max-width: 500px) {
    padding: 10px 30px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin: 17px 0;

      font-size: 20px;
      font-weight: 700;

      @media screen and (max-width: 900px) {
        margin: 15px 0;
      }
    }

    ul {
      display: flex;
      gap: 20px;

      font-size: 17px;
      font-weight: 600;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
}
