.projects {
  .container {
    h2 {
      color: $accent-color;
      text-transform: uppercase;
    }
  }

  &__list {
    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;

      max-width: 580px;
      margin: 0 auto;
    }

    li {
      display: flex;
      justify-content: flex-start;
      gap: 40px;

      padding: 25px;

      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-color: #fff;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        max-width: 100%;
        padding: 15px;
      }

      @media screen and (max-width: 500px) {
        padding: 15px;
      }

      &:nth-child(2n) {
        flex-direction: row-reverse;

        @media screen and (max-width: 900px) {
          flex-direction: column;
        }
      }

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      .project-image {
        width: 100%;
        height: 350px;

        overflow: hidden;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        @media screen and (max-width: 500px) {
          height: 300px;
        }

        .vertical-scrolling-img {
          width: 100%;

          transform: translateY(0%);
          transition: transform 10s ease-in-out;
        }
      }

      .project-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 300px;

        text-align: center;

        h4 {
          margin-bottom: 0;

          text-transform: uppercase;
        }

        &__status {
          margin: 5px 0 20px 0;

          color: #d3d3d3;
          font-size: 10px;
          font-weight: 600;
        }

        &__text {
          margin-bottom: 30px;
        }

        span {
          padding: 5px 9px;
          font-weight: 600;

          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        &__links {
          display: flex;
          justify-content: center;
          gap: 20px;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          margin-top: 20px;

          font-weight: 600;
          transition: color 300ms;

          &:hover {
            color: $accent-color;
          }

          .linl-icon {
            stroke: currentColor;
          }
        }
      }
    }
  }
}
